{% extends "bluecrane/base.html" %}

{% block content %}
<h3>You have been logged out.</h3>
<div class="border-top pt-3">
    <small class="text-muted">
        <a class="ml-2" href="{% url 'login' %}">Log In Again</a>
    </small>
</div>
{% endblock %}