{% extends 'bluecrane/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<section class="module">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
            <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend="border-bottom mb-4">Log In</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Log In</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Need an Account? <a class="ml-2" href="{% url 'register' %}">Sign Up</a>
            </small>
        </div>
    </div>
</div>
</div>
</section>
    {% endblock %}