{% extends 'bluecrane/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<section class="module">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
        <form method="POST">
         {% csrf_token %}
            <fieldset class="form-group">
                <legend="font-alt">Join Today</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-block btn-round btn-b" type="submit">Sign Up</button> 
                </div>
            </form>
                <div class="border-top pt-3">
                    <small class="text-muted">
                 Already Have an Account? <a class="ml-2" href="{% url 'login' %}">Sign In</a>
                </small>
            </div>
        </div>
    </div> 
</div>
</section>
{% endblock %}

