<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block title %} Home {% endblock title %} Live Stream</title>
  <meta charset="=utf-8"/>
  {% load static %}
  <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}" type='text/css'/>
  <link href="{% static "css/live.css" %}" rel="stylesheet"/> 
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> 
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"> 

<header>
    <div class="mkt-nav">
        <li><a href="{% url 'Home' %}">Home</a></li>  <li><a href="{% url 'about' %}">About</a></li>  <li><a href="{% url 'sermon' %}">Sermon</a></li>  <li><a href="{% url 'login' %}">Login</a></li>
    </div>
 </header>

{% block head_favicon %}
    <link rel="icon" type="image/png"
          href="{% static "images/favicon.ico" %}">
{% endblock head_favicon %}

{% block head_meta %}
    {% block head_meta_charset %}
        <meta http-equiv="Content-Type"
              content="text/html; charset=utf-8" />
    {% endblock head_meta_charset %}
    {% block head_meta_contentlanguage %}
        <meta http-equiv="Content-Language" value="en-US" />
    {% endblock head_meta_contentlanguage %}
    {% block head_meta_viewport %}
        <meta name="viewport"
              content="width=device-width, initial-scale=1.0">
    {% endblock head_meta_viewport %}
{% endblock head_meta %}
{% block head_css %}
    {% block head_css_site %}
        <link href="{% static "css/bootstrap.min.css" %}"
              rel="stylesheet" media="screen">
        <link href="{% static "css/live.css" %}"
              rel="stylesheet" media="screen">
    {% endblock head_css_site %}
    {% block head_css_section %}{% endblock head_css_section %}
    {% block head_css_page %}{% endblock head_css_page %}
{% endblock head_css %}

</head>

<body> 
        
{# The Document Body #}
<div id="site-wrapper">
    {% block content %}
        if you see this, something is wrong!
    {% endblock content %}
</div>
{# The Footer #}

<div class="footer">
    <div class="container">
        <p>Copyright 2018 @ Black Lemur. All Rights Reserved.</p>
    </div>
</div>
</body>



{% block footer_javascript %}
        {% block footer_javascript_site %}
            <script src="{% static "js/jquery.min.js" %}"></script>
            <script src="{% static "js/bootstrap.min.js" %}"></script>
            <script src="{% static "js/live.js" %}"></script>
            <script src="{% static "js/navbar.js" %}"></script>
        {% endblock footer_javascript_site %}
        {% block footer_javascript_section %}{% endblock footer_javascript_section %}
        {% block footer_javascript_page %}{% endblock footer_javascript_page %}
    {% endblock footer_javascript %}
</html>