{% extends 'bluecrane/base.html' %}
{% load static %}
{% block content %}
<section class="home-section home-parallax home-fade home-full-height" id="home">
        <div class="hero-slider">
          <ul class="slides">
            <li class="bg-dark-30 bg-dark" style="background-image:url({% static 'images/gold.jpg' %});">
              <div class="titan-caption">
                <div class="caption-content">
                  <div class="font-alt mb-30 titan-title-size-1">Pangol</div>
                  <div class="font-alt mb-40 titan-title-size-2">A Mineral Deposit Tracking App</div><a class="section-scroll btn btn-border-w btn-round" href="#about">Learn More</a>
                </div>
              </div>
            </li>
            <li class="bg-dark-30 bg-dark" style="background-image:url({% static 'images/classic-clothes.jpg' %});">
              <div class="titan-caption">
                <div class="caption-content">
                  <div class="font-alt mb-30 titan-title-size-1">Blue Crane Fashion</div>
                      <div class="font-alt mb-40 titan-title-size-2">A Luxury Clothing App</div><a class="btn btn-border-w btn-round" href="#">Learn More</a>
                </div>
              </div>
            </li>
            <li class="bg-dark-30 bg-dark" style="background-image:url({% static 'images/book-stack-books.jpg' %});">
              <div class="titan-caption">
                <div class="caption-content">
                  <div class="font-alt mb-30 titan-title-size-1">The LM Foundation</div>
                  <div class="font-alt mb-40 titan-title-size-2">A Scholarship App</div><a class="section-scroll btn btn-border-w btn-round" href="#about">Learn More</a>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </section>
{% endblock %}