{% extends 'posts/base.html' %}
{% load static %}

{% block content %}
<h3>New Comment</h3>
<form method="POST" class="post-form">
   {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="save btn btn-default">Send</button>
</form>

{% endblock content %}