{% extends 'bluecrane/base.html' %}
{% load static %}
{% block content %}
<section class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="row multi-columns-row post-columns">
            <div class="post">
              <div class="post-header font-alt">
                <img class="rounded-circle article-img" src="{{ object.author.profile.image.url }}">
                  <div class="media-body">
                    <div class="article-metadata">
                       <a class="mr-2" href="{% url 'bluecrane:user-posts' object.author.username %}">{{ object.author }}</a>
                         <small class="text-muted">{{ object.date_posted|date:"F d, Y" }}</small>
                          {% if object.author == user %}
                           <div>
                            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'bluecrane:post-update' object.id %}">Update</a>
                            <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'bluecrane:post-delete' object.id %}">Delete</a>
                         </div>
                       {% endif %}
                      </div>
                    <h2 class="article-title">{{ object.title }}</h2>
                    <p class="article-content">{{ object.content|safe }}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
{% endblock content %}
