{% extends "bluecrane/base.html" %}
{% load static %}
{% block content %}
 {% for post in posts %}
          <section class="container">
            <div class="row">
              <div class="col-sm-8">
                <div class="row multi-columns-row post-columns">
                    <div class="post">
                      <div class="post-header font-alt">
                        <h2 class="post-title"><a href="{% url 'bluecrane:post-detail' post.id %}">{{ post.title }}</a></h2>
                        <div class="post-meta"> <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}"> By&nbsp;<a href="#">{{post.author}}</a>&nbsp;| {{ post.date_posted }}
                        </div>
                      </div>
                      <div class="post-entry">
                        <h5><strong>{{ post.content|truncatewords:50|safe }}</h5></strong>
                      </div>
                      <div class="post-more"><a class="more-link" href="{% url 'bluecrane:post-detail' post.id %}">Read more</a></div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
    {% endfor %}

   {% if is_paginated %}

  {% if page_obj.has_previous %}
      <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
      <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
    {% endif %}
          
    {% for num in page_obj.paginator.page_range %}
    {% if page_obj.number == num %}
       <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
      {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
        <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
  {% endif %}
   {% endfor %}
          
  {% if page_obj.has_next %}
    <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
    <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
  {% endif %}
  {% endif %}  
</section>
    {% endblock %}